<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MBook.Properties.Settings>
            <setting name="AppKey" serializeAs="String">
                <value>830467795</value>
            </setting>
            <setting name="AppSecret" serializeAs="String">
                <value>fbe940e1c19d35c8d67cf7d6c45bd0e4</value>
            </setting>
            <setting name="CallbackUrl" serializeAs="String">
                <value>http://www.cmono.net</value>
            </setting>
            <setting name="Passport" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </MBook.Properties.Settings>
    </userSettings>
</configuration>