<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ELinq" version="0.4.21" targetFramework="net35" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net35" />
  <package id="MySql.Data" version="6.5.4" targetFramework="net35" />
  <package id="NLite" version="0.9.5" targetFramework="net35" />
  <package id="NLog" version="2.0.0.2000" targetFramework="net35" />
  <package id="NLog.Config" version="2.0.0.2000" targetFramework="net35" />
  <package id="NLog.Schema" version="2.0.0.2000" targetFramework="net35" />
  <package id="System.Data.SQLite" version="1.0.82.0" targetFramework="net35" />
  <package id="System.Data.SQLite.x86" version="1.0.82.0" targetFramework="net35" />
</packages>